// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Philosopher&family=Syncopate&display=swap");
$selector: rgb(15, 28, 209);
body {
    background-image: url("../assets/6889524.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.q-drawer {
    background-color: rgba(255, 255, 255, 0.397);
    // background-color: rgba(255, 255, 255, 0.397);
}
.item {
    color: rgb(61, 61, 61);
    margin: 10px;
    height: 70px;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: larger;
    font-weight: 500;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.drawer {
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(173, 173, 173);
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.226);
}

.item:hover {
    font-weight: 700;
    color: rgb(29, 29, 29);
    transition: ease-in-out 0.5s;
    animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    box-shadow: 0px 0px 10px -10px rgb(245, 245, 245);
    transition: 0.3s ease-in-out;
    transform: scale(1.025);
}

.nav-parent {
    position: relative;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}
