// app global css in SCSS form

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}
.body--light {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #feac5e;
    background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
    background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);

    .q-drawer {
        background-color: rgba(255, 255, 255, 0.1);
        // background-color: rgba(255, 255, 255, 0.397);
    }
    .name {
        color: whitesmoke;
        font-size: 72px;
        font-weight: 700;
    }
    .func {
        color: whitesmoke;
        font-size: 54px;
        font-weight: 100;
    }
    .item {
        color: rgb(61, 61, 61);
        margin: 10px;
        height: fit-content;
        text-align: center;
        font-size: larger;
        font-weight: 500;
        background-color: rgba(245, 245, 245, 0.75);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 10px;
        //background-color: #e2e5de8f;
    }
    .drawer {
        margin-left: 10px;
        border-radius: 10px;
        border: 1px solid rgb(173, 173, 173);
        backdrop-filter: blur(50px);
        background-color: rgba(0, 0, 0, 0.226);
    }

    .item:hover {
        font-style: normal;
        font-weight: 700;
        color: rgb(29, 29, 29);
        transition: ease-in-out 0.1s;
        //animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        //box-shadow: 0px 0px 10px -10px rgb(245, 245, 245);

        transform: scale(1.025);
    }

    .nav-parent {
        position: relative;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        border-radius: 100%;
    }
    .resume {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100fr;
        height: 100fr;
        background: rgb(17, 16, 16);
    }
    .box {
        color: rgb(61, 61, 61);
        background-color: transparent;
        margin: 0px 5px 0px 5px;
        padding: 20px;
        width: 100% !important;
        box-shadow: 0px 0px 10px -10px rgb(245, 245, 245);
    }
    .text-box {
        position: absolute;
        bottom: 0%;
    }
    .mini-box {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        height: fit-content;
        border-radius: 10px;
        margin: 10px;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .title {
        color: rgba(245, 245, 245, 0.904);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        align-items: center;
    }
}
.body--dark {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7f5a83 !important ;
    background-image: linear-gradient(315deg, #7f5a83 0%, #051622 74%) !important ;
    .q-drawer {
        background-color: rgba(0, 0, 0, 0.1);
        // background-color: rgba(255, 255, 255, 0.397);
    }
    .name {
        color: whitesmoke;
        font-size: 72px;
        font-weight: 700;
    }
    .func {
        color: whitesmoke;
        font-size: 54px;
        font-weight: 100;
    }
    .item {
        color: rgb(212, 212, 212);
        margin: 10px;
        height: fit-content;
        text-align: center;
        font-size: larger;
        font-weight: 500;
        background-color: #0f2230;
        border-radius: 5px;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 10px;
        //background-color: #e2e5de8f;
    }
    .drawer {
        margin-left: 10px;
        border-radius: 10px;
        border: 1px solid rgb(173, 173, 173);
        backdrop-filter: blur(50px);
        background-color: rgba(0, 0, 0, 0.226);
    }

    .item:hover {
        font-style: normal;
        font-weight: 700;
        color: rgb(212, 212, 212);
        transition: ease-in-out 0.1s;
        //animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        //box-shadow: 0px 0px 10px -10px rgb(245, 245, 245);

        transform: scale(1.025);
    }

    .nav-parent {
        position: relative;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        border-radius: 100%;
    }
    .resume {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100fr;
        height: 100fr;
        background: rgb(17, 16, 16);
    }
    .box {
        color: #0f2230;
        background-color: transparent;
        margin: 0px 5px 0px 5px;
        padding: 20px;
        width: 100% !important;
        box-shadow: 0px 0px 10px -10px rgb(245, 245, 245);
    }
    .text-box {
        position: absolute;
        bottom: 0%;
    }
    .mini-box {
        padding: 10px;
        background-color: #0f2230;
        height: fit-content;
        border-radius: 10px;
        margin: 10px;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .title {
        color: rgba(245, 245, 245, 0.904);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        align-items: center;
    }
}
